@{
    
}

<body>
</body>


<br />
<br />
<br />
<br />
<br />
<br />




<div id="WEB">

    <a href="/Home/Empleado">
        <img src=~/css/amd.jpg style=" height: 170px; width:150;" />
    </a>
    </p><h2> <a>EMPLEADOS</a> </h2>
</div>
 