html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
    background-color: grey;
}

main {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#Tabla_Datos {
    caption-side: bottom;
    border-collapse: collapse;
    width: 1000px;
}

#WEB {
    text-align: center;
    background-color: #d9d8d8;
    width: 260px;
    height: 260px;
    border: 2px solid #d9d8d8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SW {
    text-align: center;
    background-color: #d9d8d8;
    width: 400px;
    height: 260px;
    border: 2px solid #d9d8d8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#I_D {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
